[submodule "vendor/SDL2_ttf.git"]
	path = vendor/SDL2_ttf.git
	url = https://github.com/libsdl-org/SDL_ttf.git
  branch = release-2.0.12
  ignore = dirty
[submodule "vendor/SDL2_image.git"]
	path = vendor/SDL2_image.git
  url = https://github.com/libsdl-org/SDL_image.git
  branch = release-2.0.0
  ignore = dirty
[submodule "vendor/SDL.git"]
	path = vendor/SDL.git
	url = https://github.com/libsdl-org/SDL
	branch = release-2.0.4
  #branch = release-2.24.0
  ignore = dirty
[submodule "vendor/gtest.git"]
	path = vendor/gtest.git
  url = https://github.com/google/googletest.git
  branch = v1.8.x
  ignore = dirty
[submodule "vendor/libsndfile.git"]
	path = vendor/libsndfile.git
  url = https://github.com/libsndfile/libsndfile.git
  branch = v1.0.30
  ignore = dirty
[submodule "vendor/openal-soft.git"]
	path = vendor/openal-soft.git
	url = https://github.com/kcat/openal-soft
  branch = 9b6a226
  ignore = dirty

