*.sublime-workspace
*.sublime-project
*.bck
*.o
*.debug
*.so
*.dylib
*.dSYM
*.powder
libgamelib.bc

# doxygen html gen
docs/public/

# internal template class & header files
TemplateClass.cpp
TemplateHeader.hpp
