language: cpp
compiler:
  - clang
  - gcc
before_install:
# nomlib dependencies (SDL, OpenAL, libsndfile, libmagic, GTK)
  - sudo apt-get install libsdl1.2-dev libsdl1.2debian libsdl-image1.2-dev libsdl-image1.2 libsdl-ttf2.0-dev libsdl-ttf2.0-0 libsndfile1-dev libopenal-dev libmagic-dev libgtk2.0-dev libboost-dev #libjson-spirit-dev #doxygen graphviz
before_script:
  - mkdir -p build build-osx && cd build
  - cmake -D CMAKE_VERBOSE_MAKEFILE=on -D EXAMPLES=on -D CMAKE_INSTALL_PREFIX=/usr/local ..
script:
  - make -j4
  - sudo make install
  - du -csh /usr/local/lib/libnomlib.*
  - du -csh /usr/local/share/nomlib/
  - du -csh /usr/local/share/doc/nomlib/
  - sudo make uninstall
  - make clean
# whitelist
branches:
  only:
    - travis
    - dev
    - master
