<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">

<!--
SFML - Simple and Fast Multimedia Library
Copyright (C) 2007-2013 Marco Antognini (antognini.marco@gmail.com),
                        Laurent Gomila (laurent.gom@gmail.com),

This software is provided 'as-is', without any express or implied warranty.
In no event will the authors be held liable for any damages arising from the use of this software.

Permission is granted to anyone to use this software for any purpose,
including commercial applications, and to alter it and redistribute it freely,
subject to the following restrictions:

1. The origin of this software must not be misrepresented;
   you must not claim that you wrote the original software.
   If you use this software in a product, an acknowledgment
   in the product documentation would be appreciated but is not required.

2. Altered source versions must be plainly marked as such,
   and must not be misrepresented as being the original software.

3. This notice may not be removed or altered from any source distribution.
-->

<!--
     This template defines :
     - whether the project uses dylibs or frameworks
     - which modules are used
     - how the project links against those modules
 -->

<plist version="1.0">
    <dict>
        <!--
             BASIC INFO
         -->
        <key>Identifier</key>
        <string>org.nomlib-dev.linker</string>

        <key>Kind</key>
        <string>Xcode.Xcode3.ProjectTemplateUnitKind</string>

        <!--
             OPTIONS
         -->
        <key>Options</key>
        <array>
            <!-- BINARY TYPE -->
            <dict>
                <key>Identifier</key>
                <string>binaryType</string>

                <key>Name</key>
                <string>[ADVANCED] nomlib binaries</string>

                <key>Description</key>
                <string>Use dynamic Libraries or Frameworks? Defaults to Frameworks.</string>

                <key>Default</key>
                <string>Frameworks</string>

                <key>NotPersisted</key>
                <true />

                <key>Type</key>
                <string>popup</string>

                <key>Units</key>
                <dict>
                    <!-- Use frameworks -->
                    <key>Frameworks</key>
                    <dict>
                        <key>Project</key>
                        <dict>
                            <key>SharedSettings</key>
                            <dict>
                                <key>NOMLIB_BINARY_TYPE</key>
                                <string>FRAMEWORKS</string>

                                <key>NOMLIB_LINK_DYLIBS_SUFFIX</key>
                                <string></string>
                            </dict>
                        </dict>
                    </dict>

                    <!-- Use dylibs -->
                    <key>Dylibs</key>
                    <dict>
                        <key>Project</key>
                        <dict>
                            <key>SharedSettings</key>
                            <dict>
                                <key>NOMLIB_BINARY_TYPE</key>
                                <string>DYLIBS</string>

                                <key>NOMLIB_LINK_DYLIBS_SUFFIX</key>
                                <string></string>
                            </dict>
                        </dict>
                    </dict>

                    <!-- Use dylibs (debug) -->
                    <key>Dylibs (debug)</key>
                    <dict>
                        <key>Project</key>
                        <dict>
                            <key>SharedSettings</key>
                            <dict>
                                <key>NOMLIB_BINARY_TYPE</key>
                                <string>DYLIBS</string>
                            </dict>

                            <key>Configurations</key>
                            <dict>
                                <key>Debug</key>
                                <dict>
                                    <key>NOMLIB_LINK_DYLIBS_SUFFIX</key>
                                    <string>-d</string>
                                </dict>

                                <key>Release</key>
                                <dict>
                                    <key>NOMLIB_LINK_DYLIBS_SUFFIX</key>
                                    <string></string>
                                </dict>
                            </dict>
                        </dict>
                    </dict>
                </dict>
            </dict>

        <!--
             SETTINGS
         -->
        <key>Project</key>
        <dict>
            <key>SharedSettings</key>
            <dict>
                <!-- Define some prefixes and suffixes -->
                <key>NOMLIB_LINK_DYLIBS_PREFIX</key>
                <string>-l</string>

                <key>NOMLIB_LINK_FRAMEWORKS_PREFIX</key>
                <string>-framework </string>

                <key>NOMLIB_LINK_FRAMEWORKS_SUFFIX</key>
                <string></string>

                <key>NOMLIB_LINK_PREFIX</key>
                <string>$(NOMLIB_LINK_$(NOMLIB_BINARY_TYPE)_PREFIX)</string>

                <key>NOMLIB_LINK_SUFFIX</key>
                <string>$(NOMLIB_LINK_$(NOMLIB_BINARY_TYPE)_SUFFIX)</string>

                <key>NOMLIB_LIBRARY</key>
                <string>$(NOMLIB_LINK_PREFIX)nomlib$(NOMLIB_LINK_PREFIX)</string>

                <!-- LINKER FLAGS -->
                <key>OTHER_LDFLAGS</key>
                <string>$(inherited) $(NOMLIB_LIBRARY)</string>
            </dict>
        </dict>
    </dict>
</plist>

